<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Movie name" %>
  </div>
  <br />

  <div class="field form-group">
    <%= form.text_field :year, class:"form-control", placeholder:"Movie year" %>
  </div>
  <br />

  <div class="field form-group">
    <%= form.text_field :genre, class:"form-control", placeholder:"Movie genre" %>
  </div>
  <br />

  <div class="field form-group">
    <%= form.text_field :director, class:"form-control", placeholder:"Movie director" %>
  </div>
  <br />

  <div class="field form-group">
    <%= form.text_field :description, class:"form-control", placeholder:"Movie description" %>
  </div>
  <br />

  <div class="field form-group">
    <%= form.text_field :additional_information, class:"form-control", placeholder:"Additional information" %>
  </div>
  <br />

  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
