<% if user_signed_in? %>

<h1>Movies and series list</h1>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Description</th>
      <th>Additional information</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
    <% if movie.user == current_user %>
      <tr>
        <td><%= link_to movie.name, movie %></td>
        <td><%= movie.year %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.director %></td>
        <td><%= movie.description %></td> 
        <td><%= movie.additional_information %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path, class:"btn btn-outline-secondary" %>

<% else %>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Movie List!</h1>
  </div>

<% end %>

