
<div class="jumbotron">
  <h1 class="display-4"><%= @movie.name %></h1>
  <p class="lead"><%= @movie.year %> |
  <%= @movie.genre %> |
  <%= @movie.director %> |
  <%= @movie.description %>
  </p>
  <br />
  <hr class="my-4">
  <p><%= @movie.additional_information %></p>
  <p class="lead">
    <%= link_to 'Edit', edit_movie_path(@movie), class:"btn btn-outline-secondary" %> 
    <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary" %>
    <%= link_to 'Back', movies_path, class:"btn btn-outline-secondary" %>
  </p>
</div>

